*.o
*.pyc
*/.DS_Store

# ignore documentation output
documents/doxygenDocumentation/html/*
documents/doxygenDocumentation/latex/*
software/build/*

# KiCad / Gerber outputs
*.kicad_pcb-bak
pcbs/gerbs/*
